<!DOCTYPE=html>
<html>
<head>
	<!--
	<script>
	var collection = {{col}};
	</script>
	-->
	</head>
	<body>
		<h1>CURRENT SENATOR DATABASE</h1>
        <a href="/config">Change DB Host IP</a>
		<form action="/connect">
			<h3>Search senators by firstname</h3>
			<input type="text" name="first">
			<button id="b1" type="submit">
				submit
			</button>
		</form>
		<!-- <form action="/connect" method="POST"> -->
			<!-- <h3>Search senators by lastname</h3> -->
			<!-- <input type="text" name="last"> -->
			<!-- <h3>e.g. "Schumer"</h3> -->
				<!-- <button type="submit"> -->
					<!-- submit -->
				<!-- </button> -->
		<!-- </form> -->

		<!-- <form action="/connect" method="POST"> -->
			<!-- <h3>Search senators by cspnid</h3> -->
			<!-- <input type="number" name="cspn"> -->
			<!-- <h3>e.g. "1020045"</h3> -->
				<!-- <button type="submit"> -->
					<!-- submit -->
				<!-- </button> -->
		<!-- </form> -->
	</body>
	<footer>
		<!--
		<script>
    		var b = document.getElementById("b1");
    		b.addEventListener(function(){
    			document.getElementById(h1).value = collection;

    		});
		</script>-->
	</footer>
</html>
