<!DOCTYPE=html>
<html>
<head>
	<body>
		<h1>CURRENT SENATOR DATABASE</h1>
		<form action="/connect" method="POST">
			<h3>search senators by firstname</h3>
			<input type="text" name="first">

			<h3>e.g. "John"</h3>
				<button type="submit">
	    	        submit
				</button>
			</form>
		<form action="/connect" method="POST">
			<h3>search senators by lastname</h3>
			<input type="text" name="last">
			<h3>e.g. "Schumer"</h3>
				<button type="submit">
	    	        submit
				</button>
		</form>

		<form action="/connect" method="POST">
			<h3>search senators by cspnid</h3>
			<input type="number" name="cspn">
			<h3>e.g. "1020045"</h3>
				<button type="submit">
	    	        submit
				</button>
		</form>
	</body>
</head>